#recInfo
{
    --background: none !important; 
    background: linear-gradient(180deg, var(--col1, white) -25%, rgba(255, 255, 255, 0) 75%), linear-gradient(0deg, var(--col2, white) -25%, rgba(255, 255, 255, 0) 75%)
}
ion-card
{
    background: white;
}