<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="Powrót" defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
          <ion-label>Autorzy</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Jakub Kańduła</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Patryk Pieniążek</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Julia Zielińska</ion-label>
          </ion-item>
      </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>Źródła</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label><a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by macrovector - www.freepik.com</a></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><a href="https://lottiefiles.com/3956-earth">Earth animation by Thomas Murray</a></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
