<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="Powrót" defaultHref="/main"></ion-back-button>
      </ion-buttons>
    <ion-title>Jak segregować?</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="refreshData()">
        <ion-icon slot="icon-only" name="refresh" size="small"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="searchhd">
  <ion-item id="search" style="--background: transparent !important">
    <ion-label position="floating">Zacznij wpisywać nazwę lub kod kreskowy...</ion-label>
    <ion-input id="searchin" clear-input="true" (ionChange)="find()" [(ngModel)]="searchTxt"></ion-input>
  </ion-item>
  <h6 style="--background: transparent !important">LUB</h6>
  <ion-button expand="block" (click)="scan()" id="scan">
    <ion-icon slot="start" name="barcode"></ion-icon>
    Skanuj kod kreskowy
  </ion-button>
</div>

  <ion-list>
    <!-- <ion-item>
      <ion-label>
        <h2>Name</h2>
        <p>CatName</p>
      </ion-label>
      <ion-label slot="end" style="text-align: end;">
        <h4>aaaa</h4>
      </ion-label>
    </ion-item> -->
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="circular" loadingText="Ładowanie...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>