<ion-content class="pgcontent">
  <div id="particles-js"></div>
  <!-- <img id="earth" src="/assets/earthG.svg" /> -->
  <ng-lottie id="earth" width="90vw" [options]="lottieConfig" (animationCreated)="handleAnim($event)" (click)="openApp()"></ng-lottie>
  <ion-label  id="name"><h1>EkoApp</h1></ion-label>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" id="about">
    <ion-fab-button style="width: 32px;height: 32px;" [routerLink]="['/about']" color="light">
      <ion-icon name="information"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>